<!DOCTYPE html>
<html>
<head>
    <title>Go4Food - Order History</title>
    <link rel="stylesheet" href="css/styles.css" />
 <style>
     a{
         text-decoration: none;
     }
 </style>
</head>
<body>
    <div class="container-fluid">
        <%- include('../navbar.ejs') %>
        
        <div class="content" style="min-height: 100vh; margin-top: 0px !important">
            <%- include('../sidebar') %>` 
            
            <div class="order-history-content">
                <h1>Order History</h1>
                <% if(orders.length==0){ %>
                <h1>No orders found</h1>
                <% }else { %>
                <% for(var i=0;i<orders.length;i++){ %>
                <a href="/trackorder/<%=orders[i]._id %>" >
                <div class="order">
                    <div class="order-header">
                        <span class="order-number">Order Id: <%=orders[i]._id %></span>
                        <span class="order-details">Delivery Address: <%=customer.address %></span>
                    </div>
                    <% for(var j=0; j<orders[i].menus.length; j++) {%>
                    <p  class="order-details"   style="width: 30%;  margin-top: 10px;">Item <%=j+1 %>: Product <%= orders[i].menus[j].menu_id.title %> - Quantity: <%= orders[i].menus[j].quantity %> </p>
                    <% } %>
                    <p  style=" margin-top: 20px;">Order Total: $<%=orders[i].price %></p>
                    <div class="order-actions">
                        <button class="order-again-button">Cancel Order</button>
                    </div>
                </div>
            </a>
                <% } %>
                <% } %>
 
                
                <!-- Add more orders here -->
                
            </div>
        </div>
    </div>
</body>
</html>